theme = "Atom One Dark"

font-family = "Geist Mono"

font-size = 20

window-padding-x = 10

window-padding-y = 10

window-decoration = true

cursor-style = block

adjust-cell-height = 35%

window-colorspace = "display-p3"

window-padding-balance = true

window-save-state = always

macos-titlebar-style = transparent

background-opacity = 0.8

background-blur = 90
